<!-- BLOG ITEM-1 INFO POPUP -->
<div id="blog-item1-modal" class="white-popup-block mfp-hide">
	<h1>ПРАВИЛА УХОДА ЗА МЕБЕЛЬЮ<br><small>08.12.2016</small></h1>
	<p>От условий в которых используется  мебель зависят её
		долговечность и  красота. Ниже приведены ряд советов, способные
		помочь поддержать в наилучшем состоянии элементы Вашего
		кухонного гарнитура.
	</p>
	
	<ul>
		<li>Кухонная мебель может располагаться в сухих помещениях
			без  резких перепадов температур. Оптимальная температура
			помещения: от +10 до +40 °C, иначе фасады и их составные
			части могут начать деформироваться.
		</li>

		<li>
			Не следует также размещать мебель возле холодных или сырых
			стен, а также отопительных приборов, во избежание потери
			эксплуатационных свойств и ухудшения внешнего вида.
		</li>

		<li>
			Для сохранение первоначального цвета мебели не
			рекомендуется размещать её под воздействием от попадания
			прямых солнечных лучей.
		</li>

		<li>
			Если мебель была привезена при условии минусовой
			температуры на улице, то в помещении её сразу необходимо
			протереть как внутри, так и снаружи, чистой мягкой сухой
			тканью для удаления свежеобразовавшегося конденсата.
		</li>

		<li>
			Рекомендуются следующие расстояния от поверхности плиты
			или поверхности варочной панели до любого типа вытяжки:
			для газовой панели: 75-85 см., а для электрической расстояние
			составит 70-75 см., но не менее.
		</li>

		<li>
			Резать и разделывать продукты необходимо только на досках,
			для этого  специально предназначенных. Если игнорировать
			этот совет, то на поверхности мебели образуются микро
			царапины, которые со временем могут забиваться пищей и
			темнеть.
		</li>

		<li>
			Не допустимо воздействие пара от непосредственного
			источника (например, от пароварки или чайника), а также
			систематического скопления воды.
		</li>

		<li>
			Уход за кухней также предполагает оберегание поверхности
			мебели от горячих предметов напрямую, без
			теплоизаляционных подставок.
		</li>

		<li>
			Кухонную мебель рекомендуется располагать на расстоянии 30
			мм. от  отдельной газовой, а так же электрической плитой для
			избегания её деформации.
		</li>

		<li>
			Важно помнить, что лучше не использовать для проведения
			ухода за кухней перчатки, ткани или губки, которые могут
			повредить механически очищаемую поверхность.
		</li>

		<li>
			Использование соды, средств с абразивными материалами или
			шкурок также вредит кухонной мебели. Лучше всего подойдут
			обычные моющие средства.
		</li>
	</ul>
	
	<p><a class="popup-modal-dismiss" href="#">Закрыть</a></p>
</div>