&__menu {
	margin-top: 20px;
	position: relative;
	width: 100%;
	height: 100%;
	.menu__list {
		position: relative;
		.menu__item {
			width: 100%;
			display: table;
			margin-top: 5px;
			text-align: center;
			&:first-child {
				margin-top: 0px;
			}
			.menu__link {
				line-height: 42px;
				display: block;
				width: 100%;
				height: 44px;
				color: #fff;
				background-color: #333;
				border: 1px solid #333;
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-o-transition: all .3s ease;
				&:hover {
					background: #ff346b;
					border-color: #ff346b;
				}
			}
		}
	}
}