<section class="nav__gallery animated fadeInUp" id="gallery">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="grid">
					<figure class="effect-sadie">
						<img src="img/1.jpg" alt="img-1"/>
						<figcaption>
							<h2>КУХНИ</h2>
							<p>Нажмите что бы перейти в галлерею</p>
							<a href="category_01.html#category">View more</a>
						</figcaption>			
					</figure>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="grid">
					<figure class="effect-sadie">
						<img src="img/2.jpg" alt="img-2"/>
						<figcaption>
							<h2>СПАЛЬНИ</h2>
							<p>Нажмите что бы перейти в галлерею</p>
							<a href="category_02.html#category">View more</a>
						</figcaption>			
					</figure>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="grid">
					<figure class="effect-sadie">
						<img src="img/3.jpg" alt="img-3"/>
						<figcaption>
							<h2>ДЕТСКИЕ</h2>
							<p>Нажмите что бы перейти в галлерею</p>
							<a href="category_03.html#category">View more</a>
						</figcaption>			
					</figure>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="grid">
					<figure class="effect-sadie">
						<img src="img/4.jpg" alt="img-4"/>
						<figcaption>
							<h2>ПРИХОЖИЕ</h2>
							<p>Нажмите что бы перейти в галлерею</p>
							<a href="category_04.html#category">View more</a>
						</figcaption>			
					</figure>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="grid">
					<figure class="effect-sadie">
						<img src="img/5.jpg" alt="img-5"/>
						<figcaption>
							<h2>СТЕНКИ-ГОРКИ</h2>
							<p>Нажмите что бы перейти в галлерею</p>
							<a href="category_05.html#category">View more</a>
						</figcaption>			
					</figure>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="grid">
					<figure class="effect-sadie">
						<img src="img/6.jpg" alt="img-6"/>
						<figcaption>
							<h2>ШКАФЫ-КУПЕ</h2>
							<p>Нажмите что бы перейти в галлерею</p>
							<a href="category_06.html#category">View more</a>
						</figcaption>			
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>