<section class="about animated wow fadeInLeft" id="about" style="animation-delay: 0.5s;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-8 col-xs-12 right">
				<div class="about__content animated wow fadeInRight" style="animation-delay: 1s;">
					<h2 class="about__content__title animated wow fadeIn" style="animation-delay: 1.7s;">О нас</h2>
					<p class="about__content__text animated wow fadeIn" style="animation-delay: 2s;">Компания занимается изготовлением корпусной мебели на заказ в городе Николаев и Николаевской области более 10 лет. Современные материалы высшего качества, эксклюзивные дизайнерские проекты и оптимальное соотношение цена-качество <a href="#about-modal" class="about-modal">читать далее...</a></p>
				</div>
			</div>
		</div>
	</div>
</section>