<!-- ABOUT INFO POPUP -->
<div id="about-modal" class="white-popup-block mfp-hide">
	<h1>О нас</h1>
	<p>Компания занимается изготовлением корпусной мебели на
		заказ в городе Николаев и Николаевской области более 10 лет.
		Современные материалы высшего качества, эксклюзивные
		дизайнерские проекты и оптимальное соотношение цена-качество
		— вот основа, которая выделяет изделия «Мебель Стиль
		Николаев» в данном сегменте рынка. Большое количество
		обладателей корпусной мебели и кухонь «Мебель Стиль Николаев»
		лично убедились в неоспоримых достоинствах нашей продукции,
		привлекательной как ценовой политикой, так и исполнением. Мы
		делает корпусную и кухонную мебель в стиле модерн и классика.
		Ваша кухня может быть настолько неповторимой насколько может
		разгуляться Ваше воображение, единственное, в чем наши изделия
		одинаковы — это отличные функциональные показатели и
		необыкновенное удобство в ежедневном использовании.
	</p>

	<p>Мы стараемся максимально удовлетворить все требования
		клиентов и наш широкий ассортимент, и гибкая ценовая политика
		позволяет успешно справиться с этой задачей.
	</p>

	<p>Мы даем гарантии на свои работы и с гордостью можем
		сказать, что наша мебель соответствует всем требованиям качества.</p>

		<p>При заказе более одного комплекта мебели- на следующие
			предоставляется скидка.
		</p>

		<p>Результаты наших трудов- это большой каталог работ!
			Надеемся, что и у Вас появится ЛЮБИМАЯ мебель от «Мебель
			Стиль Николаев».
		</p>
		<p><a class="popup-modal-dismiss" href="#">Закрыть</a></p>
	</div>
</div>