<div class="col-md-3">
	<div class="category__menu">
		<ul class="menu__list">
			<li class="menu__item animated fadeIn" style="animation-delay: 0.3s;"><a href="category_01.html" class="menu__link">- Кухни -</a></li>
			<li class="menu__item animated fadeIn" style="animation-delay: 0.6s;"><a href="category_02.html" class="menu__link">- Спальни -</a></li>
			<li class="menu__item animated fadeIn" style="animation-delay: 0.9s;"><a href="category_03.html" class="menu__link">- Детские -</a></li>
			<li class="menu__item animated fadeIn" style="animation-delay: 1.2s;"><a href="category_04.html" class="menu__link">- Прихожие -</a></li>
			<li class="menu__item animated fadeIn" style="animation-delay: 1.5s;"><a href="category_05.html" class="menu__link">- Стенк-горки -</a></li>
			<li class="menu__item animated fadeIn" style="animation-delay: 1.8s;"><a href="category_06.html" class="menu__link">- Шкафы-купе -</a></li>
		</ul>
	</div>
</div>