<div class="phone animated fadeInRight">
  <div class="tabs">
    <!-- таб меню -->
    <ul class="tabs__controls">
      <!-- таб итем_1 -->
      <li class="tabs__controls-item active">
        <a href="#" class="tabs__control-link">Life</a>
      </li>
      <!-- таб итем_2 -->
      <li class="tabs__controls-item">
        <a href="#" class="tabs__control-link">MTC</a>
      </li>
    </ul>
    
    <!-- таб контент -->
    <ul class="tabs__list">
      <!-- таб контент итем_1 -->
      <li class="tabs__item active">
        <a href="tel:+380932542821" class="tabs__item-link">+380 (93) 254 28 21</a>
      </li>
      <!-- таб контент итем_2 -->
      <li class="tabs__item">
        <a href="tel:+380503945902" class="tabs__item-link">+380 (50) 394 59 02</a>
      </li>
    </ul>
  </div>
</div>