<div class="col-md-6 col-md-offset-3">
	<form action="send.php" method="post" class="callback__form" id="form">
		<h2 class="title animated wow zoomIn" style="animation-delay: 0.5s;"><i class="fa fa-phone" aria-hidden="true"></i>Заказать обратный звонок</h2>
		
		<div class="int-group animated wow zoomIn" style="animation-delay: 0.7s;">
			<input type="text" name="name" class="" placeholder="Ваше имя" required="required"><i class="fa fa-user" aria-hidden="true"></i>
		</div>

		<div class="int-group animated wow zoomIn" style="animation-delay: 0.9s;"">
			<input type="text" name="phone" class="" placeholder="38 XXX XXX XX XX" required="required"><i class="fa fa-phone" aria-hidden="true"></i>
		</div>

		<textarea class="animated wow zoomIn" style="animation-delay: 1.1s;" name="comments" type="text" rows="4" placeholder="Здравствуйте, заинтересован(а) заказом мебели. Оставите заявку и мы с вами свяжемся."></textarea>

		<input class="callback__form__btn animated wow zoomIn" style="animation-delay: 1.3s;" type="submit">
	</form>
</div>