<div class="col-md-9">
	<div class="category__content animated fadeInUpBig" style="animation-delay: 0.5s;">
		<div class="col-md-4">
			<a href="img/category_02/20221.jpg" class="category__item">
				<img src="img/category_02/20221.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_02/20222.jpg" class="category__item">
				<img src="img/category_02/20222.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_02/20223.jpg" class="category__item">
				<img src="img/category_02/20223.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_02/20224.jpg" class="category__item">
				<img src="img/category_02/20224.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_02/20225.jpg" class="category__item">
				<img src="img/category_02/20225.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_02/20226.jpg" class="category__item">
				<img src="img/category_02/20226.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_02/20227.jpg" class="category__item">
				<img src="img/category_02/20227.jpg" alt="" class="category__img">
			</a>
		</div>

	</div>
</div>