<div class="col-md-4 col-sm-4 animated wow fadeInRight" style="animation-delay: 0.5s;">
	<div class="footer__item">
		<h2 class="footer__item__title">Наши соц.сети</h2>

		<ul class="social__icon">
			<li class="social__icon__item"><a href="http://vk.com/" class="social__icon__link" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
			<li class="social__icon__item"><a href="https://www.facebook.com/" class="social__icon__link" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
			<li class="social__icon__item"><a href="https://www.instagram.com/mebel_style_nikolaev" class="social__icon__link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> 
		</ul>
	</div>
</div>