<div class="col-md-9">
	<div class="category__content animated fadeInUpBig" style="animation-delay: 0.5s;">
		<div class="col-md-4">
			<a href="img/category_04/40441.jpg" class="category__item">
				<img src="img/category_04/40441.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_04/40442.jpg" class="category__item">
				<img src="img/category_04/40442.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_04/40443.jpg" class="category__item">
				<img src="img/category_04/40443.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_04/40444.jpg" class="category__item">
				<img src="img/category_04/40444.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_04/40445.jpg" class="category__item">
				<img src="img/category_04/40445.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_04/40446.jpg" class="category__item">
				<img src="img/category_04/40446.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_04/40448.jpg" class="category__item">
				<img src="img/category_04/40448.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_04/40449.jpg" class="category__item">
				<img src="img/category_04/40449.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_04/40450.jpg" class="category__item">
				<img src="img/category_04/40450.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_04/40451.jpg" class="category__item">
				<img src="img/category_04/40451.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_04/40452.jpg" class="category__item">
				<img src="img/category_04/40452.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_04/40454.jpg" class="category__item">
				<img src="img/category_04/40454.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_04/40455.jpg" class="category__item">
				<img src="img/category_04/40455.jpg" alt="" class="category__img">
			</a>
		</div>

	</div>
</div>