<section class="blog" id="blog">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h1 class="blog__title animated wow fadeIn" style="animation-delay: 1s;">
					БЛОГ
				</h1>
			</div>

			<div class="col-md-5 col-md-offset-1 col-sm-6 animated wow fadeInUp" style="animation-delay: 1.5s;">
				<a href="#blog-item1-modal" class="blog__link">
					<div class="blog__item">
						<div class="blog__item__img">
							<img src="img/item3.jpg" alt="">
						</div>

						<div class="blog__item__content">
							<div class="date">
								<span class="date__number">08</span>
								<span class="date__month">dec</span>
							</div>

							<div class="info">
								<span class="info__title">ПРАВИЛА УХОДА ЗА МЕБЕЛЬЮ</span>
								<span class="info__text">От условий в которых используется  мебель зависят её долговечность и  красота...</span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-5 col-sm-6 animated wow fadeInUp" style="animation-delay: 1.5s;">
				<a href="#blog-item2-modal" class="blog__link">
					<div class="blog__item">
						<div class="blog__item__img">
							<img src="img/item4.jpg" alt="">
						</div>

						<div class="blog__item__content">
							<div class="date">
								<span class="date__number">15</span>
								<span class="date__month">dec</span>
							</div>

							<div class="info">
								<span class="info__title">КУХНИ НА ЗАКАЗ ОТ ПРОИЗВОДИТЕЛЯ</span>
								<span class="info__text">В процессе выбора мебели для кухни большинство покупателей совершают одну...</span>
							</div>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>
</section>