<div class="col-md-9">
	<div class="category__content animated fadeInUpBig" style="animation-delay: 0.5s;">
		<div class="col-md-4">
			<a href="img/category_06/60661.jpg" class="category__item">
				<img src="img/category_06/60661.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60663.jpg" class="category__item">
				<img src="img/category_06/60663.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60664.jpg" class="category__item">
				<img src="img/category_06/60664.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60665.jpg" class="category__item">
				<img src="img/category_06/60665.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60666.jpg" class="category__item">
				<img src="img/category_06/60666.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60667.jpg" class="category__item">
				<img src="img/category_06/60667.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60668.jpg" class="category__item">
				<img src="img/category_06/60668.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60669.jpg" class="category__item">
				<img src="img/category_06/60669.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60670.jpg" class="category__item">
				<img src="img/category_06/60670.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60671.jpg" class="category__item">
				<img src="img/category_06/60671.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60672.jpg" class="category__item">
				<img src="img/category_06/60672.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60673.jpg" class="category__item">
				<img src="img/category_06/60673.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60674.jpg" class="category__item">
				<img src="img/category_06/60674.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60675.jpg" class="category__item">
				<img src="img/category_06/60675.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60676.jpg" class="category__item">
				<img src="img/category_06/60676.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60677.jpg" class="category__item">
				<img src="img/category_06/60677.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60678.jpg" class="category__item">
				<img src="img/category_06/60678.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60679.jpg" class="category__item">
				<img src="img/category_06/60679.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60680.jpg" class="category__item">
				<img src="img/category_06/60680.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60681.jpg" class="category__item">
				<img src="img/category_06/60681.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60682.jpg" class="category__item">
				<img src="img/category_06/60682.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60683.jpg" class="category__item">
				<img src="img/category_06/60683.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60684.jpg" class="category__item">
				<img src="img/category_06/60684.jpg" alt="" class="category__img">
			</a>
		</div>

		<div class="col-md-4">
			<a href="img/category_06/60685.jpg" class="category__item">
				<img src="img/category_06/60685.jpg" alt="" class="category__img">
			</a>
		</div>

	</div>
</div>