<section class="action">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="action__content">
					<img src="img/acc.jpg" alt="" class="action__content__img">
				</div>
			</div>

			<div class="col-md-6">
				<div class="action__info">
					<h1 class="action__info__title">АКЦИЯ - При заказе кухни от 10.000 грн скидка 5%</h1>
					<p class="action__info__text">По поводу акции вы можете уточнить у нас по телефону который размещен в разделе <big>контакты</big> или <big>заказать звонок</big> оставив Ваши контакты и мы сами Вам перезвоним.</p>
				</div>
			</div>
		</div>
	</div>
</section>